<div class="auth-container">
  <!-- Left Section (Image) -->
  <div class="left-section">
    <img src="/assets/logo1.png" alt="Cliniva Illustration" class="bg-image">
  </div>

  <!-- Right Section (Login Form) -->
  <div class="right-section">
    <div class="auth-wrapper">
      <h1 class="welcome-msg">
        <span class="leggy-black">Leg</span><span class="leggy-orange">gy</span>
      </h1>

      <div class="social-login-section">
        <div class="social-login-buttons">
          <button class="social-btn google-btn" (click)="loginWithGoogle()">
            <img src="https://www.google.com/favicon.ico" alt="Google Icon" class="social-icon">
            Login with Google
          </button>
          <button class="social-btn facebook-btn" (click)="loginWithFacebook()">
            <img src="https://www.facebook.com/favicon.ico" alt="Facebook Icon" class="social-icon">
            Login with Facebook
          </button>
        </div>
      </div>
      <br>
      <h2 class="login-title">Login to your account!</h2>
      <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="username">
          <mat-icon class="material-icons-outlined p-3" matSuffix>face</mat-icon>
          <mat-error *ngIf="authForm.get('username')?.hasError('required') && authForm.get('username')?.touched">
            Email is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <mat-icon class="material-icons-outlined pwd-toggle p-3" matSuffix (click)="hide = !hide">
            {{ hide ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          <mat-error *ngIf="authForm.get('password')?.hasError('required') && authForm.get('password')?.touched">
            Password is required
          </mat-error>
        </mat-form-field>

        <div class="d-flex justify-content-between align-items-center mb-5">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox"> Remember me
            </label>
          </div>
          <a class="txt1" routerLink="/authentication/forgot-password">Forgot Password?</a>
        </div>

        <div class="container-auth-form-btn">
          <button mat-raised-button color="primary" class="auth-form-btn" type="submit">
            Login
          </button>
        </div>
      </form>
      <p class="auth-signup-text text-muted">
        Need an account?
        <a routerLink="/authentication/signup" class="sign-up-link orange-signup">Sign Up</a>
      </p>

    </div>
  </div>
</div>
