

<section class="delivery-features">
  <div class="feature">
    <img src="/assets/fast-delivery.png" alt="Fast Delivery" class="feature-icon">
    <div class="feature-text">
      <h3>Fast Delivery</h3>
      <p>Promise To Deliver <br> Within 30 Mins</p>
    </div>
  </div>
  <div class="feature">
    <img src="/assets/fresh.png" alt="Fresh Food" class="feature-icon">
    <div class="feature-text">
      <h3>Fresh Food</h3>
      <p>Your Food Will Be Delivered <br> 100% Fresh To Your Home.</p>
    </div>
  </div>
  <div class="feature">
    <img src="/assets/box.png" alt="Free Delivery" class="feature-icon">
    <div class="feature-text">
      <h3>Free Delivery</h3>
      <p>Your Food Delivery Is <br> Absolutely Free. No Cost Just Order.</p>
    </div>
  </div>
</section>

